.foodfilter {
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid rgb(201, 199, 199);
    box-shadow: 0px 0px 8px rgba(85, 85, 85, 0.603);
    z-index: 1;
    transition: top 0.2s ease-in-out;
}

#foodfilter-filters {
    width: 100%;
    padding: 11px 0px 7px 14px;
    white-space: nowrap;
}

#foodfilter-filters > * {
    margin-right: 10px;
}

#foodfilter-address {
    display: inline-block;
    width: 350px;
}

#foodfilter-address input {
    width: 100%;
    padding: 9px;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    appearance: none;
    /* color: #444444de; */
    /* line-height: 13px; */
    /* font-weight: 400; */
    font-family: 'Roboto';
}

@media all and (max-width: 767px) {
    .foodfilter-desktop {
        display: none;
    }

    #foodfilter-filters {
        width: 40%;
    }
}


.foodfilter-modal.ui.modal {
    z-index: 2000;
    top: 110px;
    margin: 0 !important;
}

.foodfilter-actions {
    display: flex;
    justify-content: space-between;
}

