#foodfilter-filters {
    width: 100%;
    padding: 11px 0px 7px 14px;
    white-space: nowrap;
}

#foodfilter-filters > * {
    margin-right: 10px;
}

#foodfilter-filters > .ui.basic.button {
    font-weight: 400;
}

#foodfilter-filters > .ui.button {
    font-weight: 500;
}

.foodfilter-address {
    display: inline-block;
    width: 350px;
}

.foodfilter-address input {
    padding: 9px;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 2px;
    font-family: 'Roboto';
}

@media all and (max-width: 767px) {
    #foodfilter-filters {
        width: 40%;
    }
}


.foodfilter-modal.ui.modal {
    z-index: 2000;
    top: 110px;
    margin: 0 !important;
}

.foodfilter-actions {
    display: flex;
    justify-content: space-between;
}

