.confirmemail {
    background-color: #909090;
    color: #3B3B3B;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.confirmemail-body {
    width: 60%;
    min-width: 400px;
    margin: 30px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.confirmemail-banner {
    background-color: #b61095;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.confirmemail-banner .ui.image {
    margin: 0 auto;
}

.confirmemail-content {
    background-color: white;
    padding: 15px;
    padding-bottom: 30px;
    text-justify: unset;
}

.confirmemail-content > form > span {
    font-weight: 500;
}

.confirmemail-content > form > .ui.input {
    height: 2em;
    margin-left: 10px;
}

.confirmemail-content > .ui.button {
    height: 40px;
    margin: 20px 0;
}

.confirmemail-content > div:nth-child(4) {
    text-align: center;
}

#confirmemail-resend {
    cursor: pointer;
    color: #337ab7;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    background: none;
    border: 1px solid transparent;
    margin-left: 10px;
    font-weight: 400;
    width: 80px;
    padding: 10px 10px;
}

#confirmemail-resend:hover {
    text-decoration: underline;
}

@media all and (max-width: 767px) {
    .confirmemail-body {
        width: 90%;
        min-width: 100px;
        margin-top: 20px;
    }
    .confirmemail-banner {
        height: 120px;
    }
    .confirmemail-banner .ui.image {
        height: 70px;
    }
    .confirmemail-content > form > .ui.input {
        width: 150px;
    }
}