.filterbar {
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px solid #c9c7c7;
    box-shadow: 0px 0px 8px #44444462;
}

.filterbar-layout {
    width: 100%;
    padding: 11px 0px 7px 14px;
    display: flex;
}

.filterbar-layout>div>span:first-child {
    color: #b61095;
}