.filterbar {
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px solid #c9c7c7;
    box-shadow: 0px 0px 8px #44444462;
}

.filterbar-layout {
    width: 100%;
    padding: 11px 0px 7px 14px;
    display: flex;
}

.filterbar-layout>.ui.button>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
}

.filterbar .ui.button {
    font-weight: 500;
}

.filterbar .ui.basic.button {
    border-color: #b61095;
    box-shadow: 0 0 0 1px #b61095 inset!important;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    background: transparent none!important;
    font-weight: 400;
}

.filterbar .ui.basic.button:hover {
    background-color: rgba(161, 161, 161, 0.15) !important;
}

.filterbar-bullet {
    font-size: 1.4rem;
    margin: 0 5px;
    /* color: #b61095; */
    color: white;
}

.filterbar-map {
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}

.filterbar-map>.ui.basic.button {
    padding-right: 35px;
}

.filterbar-map>.ui.basic.button>.icon {
    position: absolute;
    right: 5px;
    font-size: 1.5em;
}