.mobilemap-buttons {
    display: flex;
    color: #b61095;
    font-size: 16px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.mobilemap-buttons > div {
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px 15px;
    border: 1px solid #b61095;
    border-radius: 4px;
    cursor: pointer;
}

.mobilemap-buttons .icon {
    margin-left: 5px;
    margin-right: 0;
}
