.mobilesearch {
    width: 100%;
    height: 100%;
    position: relative;
}

.mobilesearch-filterbar {
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 1;
}

.mobilesearch-map {
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
}

.mobilesearch-foodgrid {
    width: 100%;
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 105px;
}

.mobilesearch-foodgrid>.icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
    -moz-box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
    -webkit-box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
    -o-box-shadow: 1px 5px 8px rgba(48, 48, 48, 0.603);
    border: 1px solid rgba(226, 226, 226, 0.603);
    border-radius: 500em;
    padding: .5em .5em;
    width: 1.8em;
    height: 1.8em;
    line-height: .75;
    font-size: 2.5em;
    background-image: url('/assets/images/map.png')
}

.mobilesearch-foodcarousel {
    position: fixed;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.mobilesearch-loading-icon {
    position: absolute;
    z-index: 1000;
}