.termsaccept {
    padding-top: 80px;
    padding-left: 5%;
}

.termsaccept a {
    color: #b61095;
    font-weight: 400;
}

.termsaccept-header {
    font-weight: 500;
    font-size: 1.9em;
    color: #505050;
    margin-bottom: 10px;
    line-height: 1.2em;
}

.termsaccept-button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

.termsaccept-button>.ui.button {
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1);
}

#termsaccept-button-accept {
    background-color: #b61095;
}

#termsaccept-button-accept:hover {
    background-color: #a01e88;
}

#termsaccept-button-cancel {
    background-color: #8b8b8b;
    margin-right: 30px;
}

#termsaccept-button-cancel:hover {
    background-color: #616161;
}

.termsaccept-button>.ui.button:hover {
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144);
}
