.termsaccept-body {
    padding: 10px;
    margin-left: 30px;
    width: 500px;
}

.termsaccept-scollbox-body {
    padding: 10px;
    color: #444444;
}

.termsaccept-scrollbox-text {
    padding: 10px;
    margin-top: 20px;
    height: 300px;
    width: 500px;
    border: 1px solid #ccc;
    overflow: auto;
}

.termsaccept-header {
    font-weight: 500;
    font-size: 1.9em;
    margin-top: 20px;
    color: #505050;
}

.termsaccept-button {
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.termsaccept-button>.ui.button {
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1);
}

#termsaccept-button-accept {
    background-color: #b61095;
}

#termsaccept-button-accept:hover {
    background-color: #a01e88;
}

#termsaccept-button-cancel {
    background-color: #8b8b8b;
    margin-right: 20px;
}

#termsaccept-button-cancel:hover {
    background-color: #616161;
}

.termsaccept-button>.ui.button:hover {
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144);
}

@media all and (max-width: 767px) {
    .termsaccept-body {
        margin-left: 2px;
        width: 100%;
    }

    .termsaccept-scrollbox {
        margin-top: 5px;
        width: 100%;
        padding: 10px;
    }
    .termsaccept-scrollbox-text {
        height: 280px;
        width: 100%;

    }
}