.cookorderbydatecard-summary {
    width: 100%;
    line-height: 1.6em;
    display: flex;
    justify-content: space-between;
}

.cookorderbydatecard-summary-day {
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
}

.cookorderbydatecard-summary-order {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3em;
    font-weight: 500;
}

.cookorderbydatecard-summary-order > div:first-child {
    margin-right: 10px;
}
