.cookordercard-header {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: #494949;
    font-size: 1.1em;
    font-weight: 500;
    padding: 10px 10px 0px 10px;
}

.cookordercard-header>div:first-child {
    line-height: 1.1em;
    font-size: 1.6em;
    margin: 0 10px;
    cursor: pointer;
}

.cookordercard-header>img {
    margin-top: 5px 0px 0px 15px;
    border-radius: 5px;
    min-width: 70px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
}

.cookordercard>div:first-child {
    background-color: lightgray;
    height: 43px;
    width: 50%;
    padding: 13px 20px;
    /* color: #ec7781; */
    font-weight: 400;
    font-size: 1.12em;
}

.cookordercard-section {
    margin-top: 10px;
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6em;
}

.cookordercard-section>span {
    font-size: .8em;
    color: #2b65ec;
}

.cookordercard-cook {
    display: inline;
}

.large-font {
    font-size: 1.5em;
    font-weight: 700;
}

.normal-font {
    font-size: 1.1em !important;
}

.box-dropshadow {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1) !important;
}

.box-dropshadow:hover {
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144) !important;
}

.label-dropshadow {
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2), 0px 2px 7px 0px rgba(0, 0, 0, 0.1) !important;
}

.fc-green.ui.button {
    background-color: #b61095;
    border: 2px solid #b61095;
    color: #ffffff;
    margin-left: 12%;
    margin-right: 20px;
    font-size: 1.1em;
    font-weight: 600;
}

.fc-red.ui.button {
    background-color: #ffffff;
    border: 2px solid #b61095;
    color: #b61095;
    font-size: 1.1em;
    font-weight: 600;
}

@media all and (max-width: 767px) {
    .fc-green.ui.button {
        margin-left: 1%;
        font-weight: 500;
    }
    .fc-red.ui.button {
        font-weight: 500;    
    }
}