.cookordercard-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.cookordercard-header>div:first-child {
    background-color: lightgray;
    height: 43px;
    width: 50%;
    padding: 13px 20px;
    /* color: #ec7781; */
    font-weight: 400;
    font-size: 1.12em;
    margin-bottom: 15px;
}

.cookordercard-accept {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 45%;
}

.cookordercard-section {
    margin-top: 0px;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6em;
}

.cookordercard-additional-details {
    font-size: 1.6em;
    font-weight: 500;
    color: #3b3b3b;
    /* color: #2b65ec; */
    margin-left: 1%;
}

.cookordercard-details>div:first-child {
    align-content: center;
    font-size: 1.2em;
    margin-bottom: 8px;
}

/* .cookorderbydatecard-summary-day i.angle.down.icon:active {
    transform: rotate(180deg);
    transition-duration: 0.4s;
}

.cookorderbydatecard-summary-day i.angle.down.icon::after {
    transform: rotate(180deg);
    transition-duration: 0.4s;
}
 */


.cookordercard-order-quantity {
    display: flex;
    align-items: baseline;
    line-height: 1.2em;
    justify-content: flex-start;
    font-size: .75em;
    font-weight: 500;
    text-transform: uppercase;
    color: #525151;
    margin: 18px 0px 8px 0px;
}

.cookordercard-order-quantity>div:first-child {
    display: flex;
    border: 3px solid #b61095;
    border-radius: 12px;
    color: #525151;
    font-size: 1.25em;
    font-weight: 700;
    padding: 7px 11px 5px 11px;
    margin-right: 5px;
    text-transform: lowercase;
    min-width: 125px;
    justify-content: center;
    align-items: center;
}

.cookordercard-order-size>div:first-child {
    margin-right: 8px;
}

.cookordercard-order-quantity>div:last-child {
    margin-left: 20px;
}

.cookordercard-order-quantity>div:last-child>span {
    font-size: .83em;
    font-weight: 400;
    text-transform: lowercase;
}

.cookordercard-order-exchange {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 10px;
}

.cookordercard-buyer {
    display: inline;
}

.cookordercard-buyer a {
    color: #555555;
    font-weight: 500;
    margin: 2px 0px 0px 1px;
}

.large-font {
    font-size: 1.5em;
    font-weight: 700;
}

.normal-font {
    font-size: 1.1em !important;
}

.box-dropshadow {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1) !important;
}

.box-dropshadow:hover {
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144) !important;
}

.label-dropshadow {
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2), 0px 2px 7px 0px rgba(0, 0, 0, 0.1) !important;
}

.cookordercard-accept.ui.button {
    background-color: #b61095;
    border: 2px solid #b61095;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 8%;
    line-height: 1.35em;
}

.cookordercard-decline.ui.button {
    background-color: #ffffff;
    border: 2px solid #b61095;
    color: #b61095;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.35em;
}



@media all and (max-width: 767px) {
    .cookordercard-accept.ui.button {
        font-weight: 500;
        margin-top: 15px;
        margin-right: 2%;
    }
    .cookordercard-decline.ui.button {
        font-weight: 500;
        margin: auto auto;
        margin-top: 15px;
    }
    .cookordercard-order-quantity {
        justify-content: flex-start;
        margin: 18px 0px;
        font-size: .68em;
    }
    .cookordercard-order-quantity>div:first-child {
        font-size: 1.2em;
        font-weight: 600;
    letter-spacing: .5px;
        
    }
    .cookordercard-order-quantity>div:last-child {
        margin-top: 11px;
        line-height: 1.2em;
    }
    .cookordercard-accept {
        width: 100%;
    }
    .cookordercard-header {
        display: block;
    }
    .cookordercard-header>div:first-child {
        width: 100%;
        margin-bottom: 0px;
    }
    .cookordercard-section>div:first-child {
        text-align: center;
    }
}