.cookorders {
    padding: 20px 20px;
    width: 80%;
    margin: 0 auto;
}

.cookorders-header {
    color: #535353;
    font-size: 1.8em;
    font-weight: 400;
    padding: 10px 0px;
    line-height: 1.2em;
    display: flex;
}

.cookorders-header > div:first-child {
    margin-right: 20px;
}

.cookorders-loading-icon {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 767px) {
    .cookorders {
        width: 90%;
    }
}