.orderexchangemessage-label {
    display: flex;
    align-items: baseline;
    line-height: 1.2em;
    justify-content: space-around;
    color: #3b3b3b;
}

.orderexchangemessage-label>div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .7em;
    font-weight: 500;
    text-transform: uppercase;
    min-width: 130px;
    max-width: 130px;
}

.orderexchangemessage-pickup {
    color: #b61095;
    font-weight: 600;
    /* font-size: .97em; */
    letter-spacing: .15px;
    margin-left: 3px;
}

.orderexchangemessage-delivery {
    color: #b61095;
    font-weight: 600;
    /* font-size: .97em; */
    letter-spacing: .15px;
    margin-right: 3px;
}

.orderexchangemessage-pickup-spacing>div:first-child {
    margin: 5px 22px 0px 0px;
}

.orderexchangemessage-delivery-spacing>div:first-child {
    margin: 5px 18px 0px 0px;
}

.orderexchangemessage-label>div:first-child>div:nth-child(2) {
    /* color: #3b3b3b; */
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
}

.orderexchangemessage-label>div:last-child {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    font-size: .9em;
    font-weight: 400;
}

.orderexchangemessage-label img {
    width: 80px;
    border: 3px solid #b61095;
    padding: 3px;
    background-color: whitesmoke;
    margin-top: 10px;
}

@media all and (max-width: 767px) {
    .orderexchangemessage-label img {
        width: 50px;
        border: 2px solid #b61095;
        padding: 2px;
    }
    .orderexchangemessage-label>div:first-child {
        justify-content: center;
        /* font-weight: 500; */
    }
    .orderexchangemessage-label>div:last-child {
        font-size: .85em;
    }
}