.ordersuccess .ui.segment {
    width: 80%;
    margin: 40px auto;
}

.ordersuccess h1 {
    color: #b61095;
}
.ordersuccess-food {
    color: #b61095;
    font-weight: 400;
    font-size: 1.15em;
}

.ordersuccess-border {
    border: 2px solid #b61095;
    border-radius: 5px;
    padding: 10px 5px;
    font-weight: 400;
    text-align: center;
    margin: auto 15%;
    cursor: pointer;
}

.ordersuccess-home-link {
    color: #b61095;
    text-decoration: none;
    padding: 5px 5px 0px 5px;
    font-weight: 400;
    font-size: 1.3em;
}

.ordersuccess-home-link:hover {
    color: #a01e88;
}

@media all and (max-width: 767px) {
    .ordersuccess-border {
        margin: auto auto;
    }
}