.profileedit-main {
    width: 70%;
    margin: 75px auto 0px auto;
}

.profileedit-title {
    display: flex;
    justify-content: space-between;
}

.profileedit-title>div:first-child {
    font-size: 1.95em;
    font-weight: 500;
    margin: 18px 10px 29px 0px;
    color: #414141;
}

.profileedit-title>.ui.button {
    background-color: #b61095;
    margin: 0px 0px 20px 10px;
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1);
}

.profileedit-title>.ui.button:hover {
    background-color: #a01e88;
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144);
}

.profileedit-header {
    background-color: #a5a5a560 !important;
    color: #494949 !important;
}

.profileedit-grid-body>.row>.column:first-child {
    text-align: right;
    padding: 8px 0px;
    font-weight: 500;
    min-width: 118px;
}

.profileedit-grid-body.grid {
    margin: 0px 10px 10px 25px;
    font-size: 1.15em;
    color: #494949;
    width: 85%;
}

.profileedit-checkbox {
    padding-top: 8px;
    padding-left: 10px;
}

.profileedit-checkbox>input[type='checkbox'] {
    transform: scale(2);
    cursor: pointer;
    padding: 10px 10px;
}

.profileedit-checkbox>label {
    cursor: pointer;
    padding: 10px 15px;
}

.profileedit-save-button {
    margin: 18px 0px 20px 0px !important;
    background-color: #b61095 !important;
    font-size: 1.3em !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1) !important;
}

.profileedit-save-button:hover {
    background-color: #a01e88 !important;
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144) !important;
}

.profileedit-save-confirm {
    margin: 18px 50px 0px 50px !important;
    padding: 12px 40px 12px 20px !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
}

.profileedit-input-descriptions {
    color: rgb(131, 131, 131) !important;
    margin: 5px 0px 0px 0px;
    font-size: .95em;
}

.profileedit-secured-input {
    color: #b61095 !important;
}

.profileedit-save-button-container {
    display: flex;
    margin-top: 20px;
}

@media all and (max-width: 1097px) {
    .profileedit-grid-body {
        width: 96%;
    }
}

@media all and (max-width: 1036px) {
    .profileedit-main {
        width: 90%;
    }
    .profileedit-grid-body>.row>.column:first-child {
        text-align: left;
        padding-bottom: 0 !important;
    }
    .profileedit-save-button-container {
        justify-content: center;
    }
    .profileedit-title>div:first-child {
        font-size: 1.85em;
        margin: 15px 10px 20px 0px;
    }
}

.profileedit-main .header {
    font-size: 1.65em !important;
    font-weight: 500 !important;
}

.profileedit-main .input {
    width: 100%;
}

/* Google Autocomplete box */

.profileedit-address, textarea {
    width: 100%;
    line-height: 1.21428571em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 9.5px 14px;
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    -webkit-box-flex: inherit;
    flex: inherit;
    transition: none;
}

.profileedit-address>div {
    width: 100%;
    border: none;
}

.pac-container {
    font-family: inherit;
}

/* .pac-logo:after {
    display: none;
} */

/* End Google Autocomplete box */