.profileview-loading {
    margin-top: 70px;
    width: 100%;
}

.profileview-container {
    margin: 75px auto;
    width: 90%;
}

.profileview.ui.grid .row {
    padding-bottom: 0;
}

.profileview.ui.grid .only.computer.tablet.column .row {
    padding-bottom: 20px;
}

.profileview-image {
    border-radius: .28571429rem;
}

.profileview-user-greeting {
    color: #494949;
    font-size: 2em;
    font-weight: 500;
    line-height: 25px;
    margin-top: 2px;
    word-break: break-all;
    word-wrap: break-word;
}

.profileview-user-joindate {
    color: #b61095;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 10px;
}

.profileview-user-info {
    font-size: 1.25em;
    line-height: 1.3em;
    font-weight: 400;
}

.profileview-card-header {
    margin: 0px 10px;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    background-color: #a5a5a560 !important;
}

.profileview-card-items {
    padding: 10px;
    font-size: 1.2em;
}

.profileview-card-items > div:not(:first-child) {
    margin-top: 5px;
}

.profileview-verifiedinfo {
    display: flex;
    justify-content: space-between;
}

@media all and (min-width: 1127px) {
    .profileview-container {
        width: 65%;
    }
}

@media all and (max-width: 767px) {
    .profileview-card-items > div:not(:first-child) {
        margin-top: 5px;
    }
}

