.profileview-loading {
    margin-top: 70px;
    width: 100%;
}

.profileview-container {
    display: flex;
    margin: 75px auto;
    width: 90%;
    padding-left: 10%;
}

.profileview-left {
    margin-right: 10%;
}

.profileview-main {
    margin-top: 20px;
    width: 100%;
}

.profileview-header {
    color: #494949;
    font-size: 2.9em;
    font-weight: 500;
    line-height: 40px;
    margin-top: 2px;
}

.profileview-card {
    width: 262px;
    vertical-align: middle;
}

.profileview-card-header {
    margin: 0px 10px;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    background-color: #a5a5a560 !important;
}

.profileview-about-me > div:first-child {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.1em;
}

.profileview-card-items {
    padding: 10px;
    font-size: 1.2em;
}

.profileview-card-items > div:not(:first-child) {
    margin-top: 15px;
}

.profileview-sub-header {
    color: #60b0f4;
    line-height: 20px !important;
    font-weight: 500 !important;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 10px;
}

.profileview-user-info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.35em !important;
    font-weight: 400;
    line-height: 26px !important;
}

@media all and (max-width: 1127px) {
    .profileview-main {
        width: 85%;
        margin: inherit auto;
    }
}