.buyerorders {
    color: #424242;
}

.buyerordercard {
    padding-left: 3px;
}

.buyerordercard.ui.segment {
    margin-top: 2rem;
}

.buyerordercard-header {
    display: flex;
    justify-content: left;
    padding: 3px 10px 20px 0px;
}

.buyerordercard-header>div {
    margin-left: 20px;
    margin-top: 15px;
}

.buyerordercard-header .ui.label {
    margin-bottom: 20px;
}

#buyerordercard-header-cook {
    position: absolute;
    top: 210px;
    left: 129px;
    z-index: 1;
    border: 3px solid #b61095;
    width: 80px;
    padding: 3px;
    background-color: whitesmoke;
}

.buyerordercard-header>img {
    margin-top: 5px 0px 0px 15px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
    padding: 3px;
    border: 2px solid #d3d3d3;    
}

.buyerordercard-main {
    padding-bottom: 5px;
}

.buyerordercard-section {
    margin-top: 3px;
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6em;
}

.buyerordercard-section>div:first-child {
    color: #b61095;
    font-weight: 600;
}

.buyerordercard-section>div:last-child {
    font-size: .98em;
}

.buyerordercard-section i.icon {
    margin: -0.1em .25rem 0 0;
}

.buyerordercard-address {
    margin-top: 10px;
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6em;
}

.buyerordercard-contact {
    display: flex;
    margin-top: 22px;
    margin-bottom: 10px;
}

.buyerordercard-contact>div:first-child {
    margin-right: 55px;
}

.buyerordercard-additional {
    margin-top: 10px;
    width: 100%;
    font-size: 1.32em;
    font-weight: 400;
    line-height: 1.6em;
}

.buyerordercard-additional>div:first-child>div:first-child>span {
    color: #2b65ec;
}

.buyerordercard-footer a {
    color: #555555;
    font-weight: 500;
    margin: 2px 0px 0px 1px;
}

.buyerordercard-footer {
    display: inline-flex;
}

.buyerordercard-footer a:hover {
    color: #a01e88;
    font-weight: 500;
}

.large-font {
    font-size: 1.5em;
    font-weight: 500 !important;
}

.larger-font {
    font-size: 1.7em;
    font-weight: 500 !important;
    line-height: 1.1em;
}

.normal-font {
    font-size: 1.1em !important;
}

.pickup-font {
    font-size: 1.3em !important;
    font-weight: 400;
}

.top-spacing {
    margin-top: 20px;
}

.mobile-spacing {
    margin-top: none;
}

.bottom-spacing {
    margin-bottom: 65px;
}

#buyerordercard-status {
    margin: -15px -15px 0 -15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1.2em;
    font-weight: 500;
}

@media all and (max-width: 767px) {
    .buyerordercard-header {
        display: block;
        padding: 3px 10px 5px 10px;
    }
    .buyerordercard-header>div {
        margin-left: 0px;
    }
    .buyerordercard-header>img {
        width: 170px;
        height: 132px;
        min-width: 170px;
        min-height: 132px;
    }
    #buyerordercard-header-cook {
        position: absolute;
        top: 174px;
        left: 88px;
        width: 47px;
        padding: 2px;
        border: 2px solid #b61095;
    }
    .bottom-spacing {
        margin-bottom: 0px;
    }
    .mobile-spacing {
        margin-top: 30px;
    }
    .buyerordercard-footer a {
        margin-left: 1px;
    }
    .buyerordercard-contact>div:first-child {
        margin-right: 12px;
    }
    .buyerordercard-section>div:first-child {
        font-weight: 500;
    }
}