.buyerordercard.ui.segment {
    margin-top: 2rem;
}

.buyerordercard-header {
    display: flex;
    justify-content: left;
    /* margin-top: 5px; */
    /* color: #494949; */
    padding: 3px 10px 20px 10px;
}

.buyerordercard-header>div {
    margin-left: 20px;
    margin-top: 20px;
}

.buyerordercard-header .ui.label {
    margin-bottom: 20px;
}

#buyerordercard-header-cook {
    position: absolute;
    top: 200px;
    left: 130px;
    z-index: 1;
    border: 3px solid whitesmoke;
}

.buyerordercard-header>img {
    margin-top: 5px 0px 0px 15px;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
}

.buyerordercard-main {
    padding-bottom: 5px;
}

.buyerordercard-section {
    margin-top: 10px;
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6em;
}

.buyerordercard-contact {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buyerordercard-link {
    color: #555555;
    font-weight: 500;
    margin-left: 5px;    
}

.buyerordercard-link:hover {
    color: #a01e88;
    font-weight: 500;
}

.buyerordercard-cook {
    margin-right: 20px;
}

.large-font {
    font-size: 1.5em;
    font-weight: 500 !important;
}

.normal-font {
    font-size: 1.1em !important;
}

.top-spacing {
    margin-top: 20px;
}

.mobile-spacing {
    margin-top: none;
}

.bottom-spacing {
    margin-bottom: 50px;
}

.box-dropshadow {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1) !important;
}

.box-dropshadow:hover {
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144) !important;
}

.label-dropshadow {
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.2), 0px 2px 7px 0px rgba(0, 0, 0, 0.1) !important;
}

@media all and (max-width: 767px) {
    .buyerordercard-header {
        display: block;
        padding: 3px 10px 5px 10px;
    }
    .buyerordercard-header>div {
        margin-left: 0px;
    }
    .buyerordercard-header>img {
        width: 170px;
        height: 132px;
        min-width: 170px;
        min-height: 132px;
    }
    #buyerordercard-header-cook {
        position: absolute;
        top: 128px;
        left: 70px;
    }

    .bottom-spacing {
        margin-bottom: 0px;
    }

    .mobile-spacing {
        margin-top: 30px;
    }
}