.buyerorders {
    padding: 30px 0;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.buyerorders-loading-icon {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.buyerorders-header {
    color: #434343;
    font-size: 1.8em;
    font-weight: 400;
    padding: 10px 0px;
}

@media all and (max-width: 767px) {
    .buyerorders {
        width: 90%;
    }
}
