.apphead {
    height: 59px;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 20;
    transition: top 0.2s ease-in-out;
}

.apphead-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 12px 28px 10px 16px;
}

.apphead-left {
    display: inline-flex;
    margin-left: 4px;
}

.apphead-logo {
    display: flex;
    cursor: pointer;
}

.apphead-link {
    color: #b61095;
    text-decoration: none;
    padding: 2px 5px 0px 6px;
    margin-top: 9px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.9em;
    text-shadow: 0 2px 4px rgba(104, 104, 104, 0.479);
}

.apphead-link:hover {
    color: #a01e88;
}

.apphead-tagline {
    font-size: 1.2em;
    color: #2b2b2b;
    margin-left: 3px;
    margin-top: 13.75px;
    font-weight: 400;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);
}

.apphead-home {
    display: flex;
    font-size: 1.4em;
    margin-top: 12px;
    margin-left: 25px;
    color: #4e4e4e;
    font-weight: 500;
    min-width: 360px;
    text-transform: uppercase;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);
    letter-spacing: .6px;
}

.apphead-home a {
    color: #4e4e4e;
}

.apphead-home a:hover {
    color: #b61095;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);
}

.apphead-home>div:nth-child(2) {
    margin: 0 10px;
    font-weight: 500;
}

.apphead-sign-in {
    color: #3a3a3a;
    font-size: 1.2em;
    margin-top: 13px;
    margin-right: 3px;
}

.apphead-sign-in:hover {
    color: #b61095;
}

.apphead-sign-in .ui.dropdown .menu>.divider {
    margin: 0;
}

.apphead-sign-in .ui.dropdown .menu {
    margin-top: 13px;
    width: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui.dropdown .menu>.apphead-dropdown-link.item {
    color: black;
    font-weight: 300;
    font-size: .95em;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.ui.dropdown .menu>.apphead-dropdown-item.item {
    font-weight: 300;
    font-size: .95em;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.apphead-dropdown-admin {
    width: 100%;
}

#apphead-downdown-admin-menu {
    left: -5px;
    top: 35px!important;
    width: 188px;
}

@media all and (max-width: 767px) {
    .apphead-home {
        display: none;
    }
    .apphead-content {
        padding-right: 10px;
        padding-left: 11px;
        text-align: left;
    }
    .apphead-link {
        padding-left: 5px;
    }
}

@media all and (max-width: 665px) {
    .apphead-tagline {
        display: none;
    }
}