.head {
    height: 55px;
    top: 0;
    left: 0;
    width: 100%;
    background: #fcfcfc; 
    border-bottom: 2px solid rgb(116, 116, 116);
    box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
    z-index: 1;
    transition: top 0.2s ease-in-out;
}

.head-logo {
    display: inline-flex;
}

.head-link {
    color:  #52c5d5;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    font-family: 'Comfortaa', cursive; 
    font-weight: 300;
    font-size: 1.2em;
  }
  
  .head-link:hover {
    color: #66c3cb;
  }
  
  .content-desktop {
    display: block;
    font-size: 1.26em;
    font-weight: bold;
    margin-left: 2px;
    margin-top: 9px;
    font-family: 'Special Elite', cursive;    
  }
    
  .head-content {
    width: 100%;
    height: 100%;
    padding-left: 7px;
    padding-right: 45px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .head-right {
    float: right;
  }

@media all and (max-width: 767px) {
    .content-desktop {
      display: none;
    }
    .head-content {
      padding-right: 10px;
      padding-left: 7px;
      
    }
      
    .head-content {
      text-align: left;
    }
}
  