#clearable-autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

#clearable-autocomplete input {
    width: 100%;
    padding-right: 2.5em;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    appearance: none;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

i.icon#clearable-autocomplete__clear {
    position: absolute;
    top: 0.5em;
    right: 0.25em;
    font-style: normal;
    font-size: 1.4em;
    cursor: pointer;
    user-select: none;
    color: #aaa;
}

i.icon#clearable-autocomplete__clear:hover {
    color: #888;
}

#clearable-autocomplete input::-ms-clear {
    /* Remove IE default X */
    display: none;
}