.deliveryselector {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.deliveryselector > div {
    text-align: center;
    padding: 15px 0px 15px 0px;
    border: 2px solid #2aad8a;
    box-shadow: 0 3px 7px 0 rgba(76, 185, 158, 0.2), 1px 6px 20px 1px rgba(76, 185, 158, 0.1);
    border-radius: 5px;
    width: 48%;
    font-size: 18px;
    font-weight: 500;
    color: #2aad8a;
    cursor: pointer;
}

.deliveryselector > div:hover {
    /* background-color: #2aad8a; */
    box-shadow: 1px 6px 6px 1px rgba(42, 173, 138, 0.24), 1px 8px 12px 1px rgba(42, 173, 138, 0.144);
}