.drawer-outer {
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    transform: translate3d(0,0,0) !important;
    background: none !important;
    /* overflow-y: hidden !important; */
    pointer-events: none !important;
}

.drawer-inner {
    pointer-events: auto !important;
    background-color: #ffffff !important;
    border-top: 1px solid #DBDBDB !important;
    box-shadow: 0 0 2px 0px rgba(22, 22, 22, 0.2) !important;
    overflow-y: hidden !important;
    position: relative !important;
    will-change: transform !important;
}

.drawer-main {
    -webkit-overflow-scrolling: touch !important;
    overflow-y: auto !important;
    top: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    position: absolute !important;
}