.foodcarousel-card-image {
    overflow: hidden; 
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 15vh;
    width: 38vw;
}

.foodcarousel-card-header {
    display: block;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
    color: #3a3a3a;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 95%;
}

.foodcarousel-card-info {
    display: flex;
    font-weight: 400;
    font-size: 1.1em;
}

.foodcarousel-card-info > div,
.foodcarousel-card-info > .icon {
    margin-top: 3px;
}

.icon.foodcarousel-card-foodprep {
    font-weight: 600;
    line-height: 1;
}
