.foodlightbox-food-image {
    margin: auto;
    width: 100%;
    max-height: 400px;
    overflow: hidden; 
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    object-fit: cover;
    cursor: pointer;
}

.foodlightbox-image-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
}

.foodlightbox-position {
    display: inline-block;
    position: absolute;
    bottom: 7%;
    left: 3%;
}

.foodlightbox-button {
    background-color: #e9e9e9 !important;
    font-weight: 500 !important;
    font-size: 1.25em !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    
}

.foodlightbox-button:hover {
    background-color: #dfdfdf !important;
}