.homehead {
    height: 59px;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 2;
    transition: top 0.2s ease-in-out;
}

.homehead-logo {
    display: inline-flex;
    margin-left: 4px;
}

.homehead-logo > div:first-child {
    display: flex;
    cursor: pointer;
}

.homehead-link {
    color: #b61095;
    text-decoration: none;
    padding: 2px 5px 0px 6px;
    margin-top: 9px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.9em;
    text-shadow: 0 2px 4px rgba(104, 104, 104, 0.479);
}

.homehead-link:hover {
    color: #a01e88;
}

.homehead-desktop {
    display: inline-flex;
    font-size: 1.4em;
    margin-top: 12px;
    margin-left: 25px;
    color: #4e4e4e;
    font-weight: 500;
    min-width: 360px;
    text-transform: uppercase;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);
    letter-spacing: .6px;
}

.homehead-desktop a {
    color: #4e4e4e;  
}

.homehead-desktop a:hover {
    color: #b61095;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);    
        
}

.homehead-desktop>div:nth-child(2) {
    margin: 0 10px;
    font-weight: 500;
}


.homehead-content {
    width: 100%;
    height: 100%;
    padding: 12px 28px 10px 16px;
}

.homehead-right {
    float: right;
}

.homehead-sign-in {
    color: #3a3a3a;
    font-size: 1.2em;
    margin-top: 13px;
    margin-right: 3px;
}

.homehead-sign-in:hover {
    color: #b61095;
}

.homehead-sign-in .ui.dropdown .menu > .divider {
    margin: 0;
}

.homehead-sign-in .ui.dropdown .menu {
    margin-top: 13px;
    width: 200px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui.dropdown .menu > .homehead-dropdown-link.item {
    color: black;
    font-weight: 300;
    font-size: .95em;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.ui.dropdown .menu > .homehead-dropdown-item.item {
    font-weight: 300;
    font-size: .95em;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

@media all and (max-width: 767px) {
    .homehead-desktop {
        display: none;
    }
    .homehead-content {
        padding-right: 10px;
        padding-left: 11px;
        text-align: left;
    }
    .homehead-link {
    padding-left: 5px;
    }
}