.loadingheader-logo {
    display: flex;
    height: 55px;
    border-bottom: 1px solid rgb(201, 199, 199);
    box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
    padding: 9px 28px 9px 10px;
}

.loadingheader-logo > div {
    color: #b61095;
    padding: 2px 5px 0px 4px;
    margin-top: 9px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.9em;
    text-shadow: 0 2px 4px rgba(104, 104, 104, 0.479);
}

.loadingheader-logo > img {
    height: 38px;
}

.loadingheader-loadingicon {
    color: #3a3a3a;
    font-size: 1.2em;
    margin-top: 13px;
    margin-left: 12px;
}