.orderhead {
    height: 55px;
    top: 0;
    left: 0;
    width: 100%;
    background: #fcfcfc;
    border-bottom: 1px solid rgb(201, 199, 199);
    box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
    z-index: 1;
    transition: top 0.2s ease-in-out;
}

.orderhead-logo {
    display: inline-flex;
    margin-left: 10px;
}

/* .orderhead-link {
    color:  #4cb9a0;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 7px;
    padding-top: 2px;
    margin-top: 9px;
    font-family: 'Comfortaa', cursive; 
    font-weight: 500;
    font-size: 1.9em;
    text-shadow: 0 2px 6px rgba(104, 104, 104, 0.479);

    
  }
  
  .orderhead-link:hover {
    color: #68cfb5;
  } */

.orderhead-content {
    width: 100%;
    height: 100%;
    padding-left: 9px;
    padding-right: 28px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.orderhead-right {
    float: right;
    /* width: 150px; */
}

.orderhead-sign-in {
    color: #3a3a3a;
    font-family: 'Athiti';
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 10px;
    margin-right: 3px;
}

.orderhead-sign-in:hover {
    color: #66c3cb;
}

.orderhead-dropdown-profile-link {
    color: black !important;
    font-family: 'Athiti';
    font-weight: 300 !important;
    font-size: .95em !important;
    margin-top: 8px;
}

.orderhead-dropdown-item {
    font-family: 'Athiti';
    font-weight: 300 !important;
    font-size: .95em !important;
    margin-bottom: 8px;
}

.orderhead-contact-support {
    color: #3a3a3a;
    font-family: 'Athiti';
    font-weight: 400;
    font-size: 1.15em;
    margin-top: 7px;
    margin-right: 10px;
    text-align: center;
    line-height: 14px;
}

.orderhead-contact-support-link {
    color: #3a3a3a;
}

.orderhead-contact-support-link:hover {
    color: #50aebb;
}

.order-content-desktop {
    display: inline-flex;
}

.orderhead-ssl-text {
    color: #3a3a3a;
    font-family: 'Athiti';
    font-weight: 400;
    font-size: .95em;
    margin-top: 3px;
    margin-right: 3px;
    text-align: center;
    line-height: 15px;
    text-shadow: 0 1px 1px rgba(104, 104, 104, 0.479);
}

.order-tagline-desktop {
    display: block;
    font-size: 1.2em;
    color: #2b2b2b;
    margin-left: 3px;
    margin-top: 13.75px;
    font-family: 'Athiti';
    font-weight: 400;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);
}

.orderhead-link {
    color: #4cb9a0;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 7px;
    padding-top: 2px;
    margin-top: 9px;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 1.9em;
    text-shadow: 0 2px 4px rgba(104, 104, 104, 0.479);
}

.orderhead-link:hover {
    color: #68cfb5;
}

@media all and (max-width: 767px) {
    .orderhead-link {
        display: none;
    }
    .orderhead-content {
        padding-right: 10px;
        padding-left: 7px;
    }
    .orderhead-content {
        text-align: left;
    }
    .order-tagline-desktop {
        display: none;
    }
}