.managefoods {
    width: 95%;
    margin: 80px auto;
}

.managefoods h2 {
    font-weight: 500;
    padding-bottom: 10px;
}

.managefoods-fooditem {
    cursor: pointer;
    padding: 5px 0px;
}

.managefoods-bold-title {
    font-weight: 500;
}

.managefoods-ID-number {
    font-size: .89em;
}

.managefoods-indent {
    /* padding: 30px; */
    width: 80%;
    margin-left: 30px;
}