.managefood {
    width: 95%;
    margin: 20px auto;
}

.managefood h2 {
    font-weight: 500;
}

.managefood-save {
    display: flex;
    margin-bottom: 20px;
}

.managefood-save .ui.message {
    cursor: pointer;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.managefood .ui.input {
    width: 100%;
}

.managefood textarea {
    width: 100%;
    border-radius: .286rem;
    padding: 5px;
}

.managefood .ui.input>input {
    appearance: none;
}

/* Autocomplete */

.contactinfo-address input {
    line-height: 1.21428571em;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Roboto';
    padding: 9.5px 14px;
    border-radius: .28571429rem;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    color: rgba(0, 0, 0, .87);
}

.contactinfo-address input::placeholder {
    color: rgba(34, 36, 38, .3);
}

.contactinfo-address input:focus::placeholder {
    color: rgba(0, 0, 0, .5);
}

.contactinfo-address .error input::placeholder {
    color: #e0b4b4;
}

.contactinfo-address .error input:focus::placeholder {
    color: rgba(159, 58, 56, .65);
}

.pac-item {
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.pac-item-query {
    font-size: 16px;
}

.pac-icon {
    margin-top: 5px;
}

/* Autocomplete */

.managefood label {
    font-weight: 700;
}

.managefood-checkbox {
    margin-top: 10px;
}

.managefood-checkbox label {
    padding-left: 5px;
}

.managefood-checkbox input, .managefood-checkbox label {
    cursor: pointer;
}

.managefood-checkbox label {
    font-weight: 400;
}

.managefood .ui.stackable.grid>.row {
    padding: 0;
    padding-bottom: 0.5rem;
}

.managefood .ui.stackable.grid>.row>.column {
    padding: 0!important;
    padding-bottom: 0.5rem!important;
}

.managefood .ui.stackable.grid>.row>.two.wide.column {
    text-align: right;
    padding-top: 0.7rem!important;
    padding-right: 1rem!important;
}

@media all and (max-width: 767px) {
    .managefood .ui.stackable.grid>.row>.two.wide.column {
        text-align: left;
    }
}

.imagemanager-images {
    margin: 5px 0;
    display: flex;
}

.imagemanager-images>.ui.image {
    cursor: pointer;
    margin-left: 5px;
    height: 100px;
}

.imagemanager input[type="file"] {
    margin: 10px 0;
}

.ReactCrop {
    margin-right: 10px;
}

.ReactCrop img {
    width: 250px;
    height: auto;
}

#imagemanager-croppedimg {
    width: 250px;
    height: auto;
}
