.managefood {
    width: 95%;
    margin: 80px auto;
}

.managefood h2 {
    font-weight: 500;
}

.managefood input {
    width: 500px;
}

.managefood .ui.label {
    width: 150px;
}

.managefood-textarea {
    display: flex;
}

.managefood textarea {
    width: 650px;
}

.managefood .ui.fluid.dropdown {
    width: 500px;
}
