.managefoods {
    width: 95%;
    margin: 80px auto;
}

.managefoods h2 {
    font-weight: 500;
    padding-bottom: 10px;
}

.managefoods-fooditem {
    cursor: pointer;
    padding: 5px 0px;
    line-height: 1.3;
}

.managefoods-title {
    font-weight: 400;
    font-size: 1.4em;
    margin-top: 15px;
    /* color: #2b65ec; */
}

.managefoods-indent {
    width: 90%;
    margin-left: 40px;
}

#managefoods-image {
    width: 150px;
    height: auto;
}

.managefoods-button {
    margin-top: 15px;
}

#managefoods-image img.ui.image {
    margin: 0 1em 1em 0;
}

.managefoods-delete-modal.ui.modal {
    top: 15%;
}

.managefoods-delete-error-message {
    color: #DC143C; 
    margin: -8px 0px 0px 1px;
}

@media all and (max-width: 767px) {
    #managefoods-image {
        display: inline-block;
        width: 55px;
        padding-bottom: 10px;
    }
    .managefoods-indent {
        width: 100%;
        margin-left: 3px;
    }
    .managefoods h2 {
        font-weight: 400;
        padding-bottom: 2px;
    }
    .managefoods-title {
        padding-bottom: 5px;
    }
}