.billing {
    display: flex;
}

.billing-header > .ui.header {
    color: #494949;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: 5px;
    line-height: 1.1;
}

.billing-powered-by-stripe {
    font-size: .7em;
    margin-left: 5px;
    margin-top: -13px;
    display: flex;
}

.billing-powered-by-stripe > div:first-child {
    padding-top: 5px;
}
