.order-body {
    position: relative;
    width: 80%;
    margin: 58px auto 0px auto;
    font-weight: 400;
}

.order-all {
    background-color: #f5fcff;
    padding-top: 12px;
    padding-bottom: 20px;
}

.order-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.order-right {
    width: 350px;
    min-width: 300px;
    margin-left: 50px;
    margin-right: 130px;
}

.order-right>div {
    position: fixed;
    padding-right: 50px;
}

@media all and (max-width: 1075px) {
    .order-container {
        flex-flow: row wrap;
        flex-direction: row;
    }
    .order-container-width {
        min-width: 100%;
    }
    .order-right {
        width: 100%;
        min-width: 100%;
        margin: 0px 0px 20px 0px !important;
    }
    .order-right>div {
        position: inherit !important;
        padding-right: 0 !important;
    }
}

.order-confirm-continue-button.ui.fluid.button {
    margin-top: 20px;
    background-color: #2b65ec;
    font-size: 1.4em;
    font-weight: 600;
    color: #ffffff;
    height: 3em;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 1px 6px 20px 1px rgba(0, 0, 0, 0.1);
}

.order-confirm-continue-button.ui.fluid.button:hover {
    background-color: #2554c7;
    box-shadow: 1px 6px 10px 1px rgba(0, 0, 0, 0.24), 1px 8px 22px 1px rgba(0, 0, 0, 0.144);
}

.order-segment-user-agree-text.ui.checkbox>label {
    font-size: 1.1em;
    margin: 10px;
    width: 80%;
}

.order-right .input {
    width: 100%;
}

@media all and (max-width: 767px) {
    .order-body {
        width: 92%;
    }
    .order-segment-user-agree-text.ui.checkbox>label {
        width: 96%;
    }
}