.home {
    width: 90%;
    margin: 10px auto 120px auto;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #444444;
    text-shadow: 0 2px 4px rgba(88, 88, 88, 0.144);
    letter-spacing: .15px;
}

.home-tagline {
    margin: 100px 0px 30px 0px;
    font-size: .9em;
    font-weight: 300;
    color: #383838;
}

.home-search-flex-grow .ui.button {
    border-radius: 2px;
    min-height: 4.2em;
    font-weight: 300;
    letter-spacing: .8px;
}

.home-howto {
    display: none;
}

.home-explore>div:first-child {
    font-size: .63em;
    font-weight: 300;
    margin-top: 80px;
}

.home-hoods {
    margin-top: 30px;
}

.home-explore .ui.grid, .home-hoods .ui.grid, .home-join .ui.grid {
    margin-top: 10px;
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.home-explore .column {
    min-width: 300px;
}

.home-explore-item {
    display: flex;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 #44444433, 1px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.home-explore-item:hover {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.24), 1px 6px 20px 1px rgba(0, 0, 0, 0.144);
}

.home-explore-item>div {
    font-size: 1.3rem;
    font-weight: 400;
    margin: auto 20px;
}
.home-explore-item a {
    font-size: 1.3rem;
    font-weight: 400;
    margin: auto 20px;
    color: #444444;
}
.home img {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.home-explore img {
    height: 74px;
    width: 103px;
}

.home-join .column {
    min-width: 300px;
}

.home-join-item {
    display: flex;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 5px 0 #44444433, 1px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.home-join-item:hover {
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.24), 1px 6px 20px 1px rgba(0, 0, 0, 0.144);
}

.home-join>div:first-child {
    font-size: .71em;
    font-weight: 300;
    margin-top: 40px;
}

.home-join img {
    height: 74px;
    width: 103px;
    flex-flow: row-reverse;
}

.home-hoods>div:first-child {
    font-size: .63em;
    font-weight: 300;
    margin-top: 60px;
}

.home-hoods .card {
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.home-hoods .card>div {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: whitesmoke;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: .25px;
}

.home-hoods img {
    max-height: 250px;
    width: 100%;
    transition: all 0.4s;
}

.home-hoods img:hover {
    transform: scale(1.05);
}

/* Google Autocomplete box */

.home-search {
    display: flex;
    transition: none;
    padding: 20px 0px 0px 36px;
    margin-right: 245px;
    margin-top: 10px;
    color: #444444;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 5px 0 #44444433, 1px 5px 8px 1px rgba(0, 0, 0, 0.1);
}

.home-search>div:first-child {
    width: 65%;
    padding-right: 2px;
}

.home-search-question {
    font-size: .6em;
    font-weight: 300;
    padding: 22px 0px 10px 0px;
}

.home-search>div:last-child {
    width: 30%;
    display: flex;
    align-items: baseline;
    margin-right: 2%;
}

.home-search-flex-grow {
    flex-grow: 1;
}

.home-search input {
    width: 100%;
    line-height: 1.36428571em;
    font-weight: 400;
    font-size: .4em;
    font-family: 'Roboto';
    padding: 19px 10px 19px 18px;
    border-radius: 2px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    color: #444444de;
    margin-left: -15px;
    margin-bottom: 20px;
    /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 1px 5px 8px 1px rgba(0, 0, 0, 0.1); */
}

.home-search input::placeholder {
    color: rgba(34, 36, 38, .3);
}

.home-search input:focus::placeholder {
    color: rgba(0, 0, 0, .5);
}

.pac-container {
    z-index: 2000;
}

.pac-item {
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.pac-item-query {
    font-size: 16px;
}

.pac-icon {
    margin-top: 5px;
}

.pac-logo:after {
    display: none;
}

/* End Google Autocomplete box */

.home-or-spacing {
    margin: 0px 9px 0px 7px;
    font-size: .41em;
    font-weight: 300;
}

@media all and (max-width: 1050px) {
    .home-search {
        margin-right: 5px;
    }
}

@media all and (max-width: 767px) {
    .home-explore img {
        height: 73px;
        width: 88px;
    }
    .home-tagline {
        font-size: .77em;
        margin-top: 28px;
        margin-bottom: 2px;
        justify-content: center;
        display: flex;
    }
    .home-search-question {
        font-size: .45em;
        justify-content: center;
        display: flex;
    }
    .home-search {
        padding: 0px 0px 0px 13px;
        margin-right: 0px;
    }
    .home-search-flex-grow .ui.button {
        border-radius: 2px;
        min-height: 4.2em;
    }
    .home-howto {
        display: flex;
        flex-flow: row;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .48em;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        margin-right: 0px;
        margin-top: 5px;
        letter-spacing: .6px;
        color: #b61095;
        background-color: #ececec;
    }
    .home-howto a {
        color: #b61095;
        padding: 14px 2px;
    }
    .home-howto a:hover {
        color: #4e4e4e;
    }
    .home-link-separator {
        padding: 0px 9px;
    }
    .home-search {
        display: block;
        border: none;
        box-shadow: none;
        width: 100%;
    }
    .home-search>div:first-child {
        width: 100%;
        /* margin-left: 12px;         */
    }
    .home-search>div:last-child {
        width: 100%;
        /* margin-left: -3px; */
    }
    .home-hoods .card>div {
        font-weight: 500;
        letter-spacing: .2px;
    }
    .home-explore>div:first-child {
        margin-top: 50px;
    }
    .home-top-content {
        /* background-color: red; */
        width: 100%;
    }
}