/* main layout */
.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.dtest{

  color: #4e4e4e
}

.head {
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(186, 255, 243); 
  border-bottom: 2px solid rgb(116, 116, 116);
  box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
  z-index: 1;
  transition: top 0.2s ease-in-out;
}

.headscroll {
  height: 55px;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(186, 255, 243); 
  border-bottom: 2px solid rgb(116, 116, 116);
  box-shadow: 0px 3px 5px rgba(85, 85, 85, 0.603);
  z-index: 1;
  transition: top 0.2s ease-in-out;
}
  
.bodywrap {
  margin-top: 55px;
}

.center, .bodywrap {
  height: 100%;
}

.center {
  width: 66%;
  padding-right: 5px;
  padding-left: 5px;
}

.right {
  width: 34%;
  height: calc(100vh - 55px);
  top: 55px;
  bottom: 0px;
  right: 0px;
  position: fixed;
}

.link {
  color:  rgb(0, 0, 0);
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
}

.link:hover {
  color: rgb(63, 63, 63);
}

#content-desktop {
  display: block;
}
  
.head-content {
  width: 100%;
  height: 100%;
  padding-left: 7px;
  padding-top: 15px;
}

.head-logo {
  display: inline-flex;
}

@media all and (max-width: 767px) {
  .right {
      display: none;
  }
  .center {
      width: 100%;
  }

  #content-desktop {
    display: none;
  }
    
  .head-content {
    text-align: center;
  }
}
/* end main layout */

.GridRowSpacer {
  height: 150px;
}

.SearchButton {
  width: 10em;
}

/* time-picker */
.TimePicker {
  min-width: inherit;
  width: 100%;
}

/* end time-picker */

/* react-dates */
.DateInput {
  font-size: 14px !important;
  padding: 2px !important;
  border-radius: 5px;
  width: 100% !important;
}

.SingleDatePicker {
  width: 100%;
}

.SingleDatePickerInput {
  border-radius: 5px;
}

.SingleDatePicker__picker {
  margin-top: -20px;
}

.DateInput--with-caret::before {
  margin-top: -20px;
}

.DateInput--with-caret::after {
  margin-top: -20px;
}

.DateInput__display-text {
  color: rgba(191,191,191,.87);
}
/* end react-dates */

/* Google Autocomplete box */
.AutocompleteBox > div {
  width: 100%;
  border: none;
}

.AutocompleteBox {
  width: 100%;
  -webkit-box-flex: inherit;
  flex: inherit;
  transition: none;
}

.pac-container {
  font-family: inherit;
}

.pac-logo:after {
  background-image: none;
}

/* End Google Autocomplete box */


/*
div .grid {
  border: 1px solid black;
}

div .column {
  border: 1px solid red;
}

div .row {
  border: 1px solid blue;
}
*/