.FoodCard {
    height: 100%;
    position: relative;
}

.FoodCard a {
    color: inherit;
}

.FoodCard a:hover {
    color: inherit;
}

.FoodCardHeader {
    margin-top: 5px !important;
}

.FoodCardGroup {
    margin-top: 5px !important;
}

.OrderButton {
    position: absolute;
    bottom: 0px;
    height: 2.5em;
}

.FoodImage {
    width: 100%;
}

@media all and (min-width: 768px) {
    .FoodImageBox {
        overflow: hidden;
    }

    .FoodImage {
        height: 100%;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .FoodImage:hover {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}
