/* main layout */
.wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .head {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 1;
  }
  
  .bodywrap {
    margin-top: 55px;
  }
  
  .center, .bodywrap {
    height: 100%;
  }
  
  .center {
    width: 66%;
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .right {
    width: 34%;
    height: calc(100vh - 55px);
    top: 55px;
    bottom: 0px;
    right: 0px;
    position: fixed;
  }
  
  @media all and (max-width: 767px) {
    .right {
        display: none;
        position: relative;
    }
    .head {
        position: relative;
        height: auto;
        border-bottom: none;
    }
    .bodywrap {
        margin-top: 0px;
    }
    .center {
        width: 100%;
    }
  }
  /* end main layout */

.FoodCard {
    height: 100%;
    /*
    max-width: 400px !important;
    min-width: 300px !important;
    */
}

.FoodCardHeader {
    margin-top: 5px !important;
}

.FoodCardGroup {
    margin-top: 5px !important;
}

.ui.table tr td { border-top: 0px !important; }

.rating-row {
    height: 30px;
}

.rating-grid {
    min-width: 400px;
    vertical-align: middle;
}