/* main layout */

.detail-content {
    margin-top: 20px;
}

.content-link, .content-link:hover {
    margin-right: 1em;
    color: inherit;
    font-size: large; 
    cursor: pointer;
}

.author-link{
    cursor: pointer;
    color: #4cb9a0;
    margin-left: 0.2em;
}

.content-link:active {
    text-decoration: none !important;
}

.content-link-active {
    border-bottom: 3px solid #4cb99e;
    padding-bottom: 2px;
}

.flex-container {
    /* background-color: red; */
    display: -webkit-flex;
    display: flex;
    min-height: 0px;
    width: 100%;
    height: auto;
    padding-left: 10px;
    /* margin-top: 1px; */
    margin-bottom: 10px;
}

.flex-item-main {
    /* background-color: cornflowerblue; */
    height: auto;
    width: 55%;
    margin-left: 8%;
    margin-right: auto;
}

.flex-item-right {
    /* background-color: blue; */
    width: 425px;
    height: auto;
    margin-left: 20px;
    margin-right: 8.5%;
}

.detail-head-main {
    /* background: yellow; */
    background: white;
    border-bottom: 1px solid lightgray;
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
    line-height: 50px;
    top: 0px;
    z-index: 1;
    padding-bottom: 10px;
}

.detail-head-right {
    background: pink;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 18px;
    top: 88px;
    z-index: 1;
    box-shadow: 0 2px 6px 0 rgba(117, 117, 117, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19) !important;
}

.food-detail-header {
    color: #189da7 !important; 
    font-size: 1.8em !important; 
    font-weight: 500  !important;
    font-family: 'Athiti' !important;
}

.detail-main-header {
    color: #494949 !important;
    font-size: 2.2em !important;
    font-weight: 700 !important;
}

.detail-sub-header {
    color: #494949 !important;
    font-size: 2.1em !important;
    font-weight: 600 !important;
    font-family: 'Athiti' !important;
}

.detail-body-text {
    font-size: 1.3em !important; 
    font-weight: 400;
    line-height: 22px !important;
    font-family: 'Athiti' !important;
}

.detail-cook-sub-header {
    color: #60b0f4;
    font-family: 'Athiti' !important;
    line-height: 20px !important;
    font-weight: 500 !important;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.detail-cook-text {
    margin-top: 15px;
    font-size: 1.3em !important; 
    font-weight: 400;
    line-height: 22px !important;
    font-family: 'Athiti' !important;
}

.detail-card-summary-row {
    display: flex;
    margin-top: 3px;
    width: 100%;
    font-size: 1.3em !important; 
    font-weight: 400;
    line-height: 22px !important;
    font-family: 'Athiti' !important;
  }

.detail-card-charged-footnote {
    text-align: center;
    margin-top: 10px;
    color: gray; 
    font-family: 'Athiti' !important; 
    font-size: 1.1em; 
    font-weight: 500;
    margin-bottom: 15px;
}

.detail-footer {
    display: none;
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    /* background: red; */
    background: whitesmoke;
    border-top: 1px solid lightgray;
    padding-top: 5px;
    z-index: 1;
    text-align: center;
}

.detail-desktop-button {
    background-color:  #4cb99e !important;
    color: white !important;
    margin-top: 15px !important;
    font-family: 'Athiti' !important;
    font-size: 1.4em !important;
    font-weight: 500 !important;
    box-shadow: 0 2px 6px 0 rgba(83, 83, 83, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.1) !important;
    border-radius: 5px !important;
}

.detail-desktop-button:hover {
    background-color:  #2aad8a !important;
}

.detail-footer-button {
    width: 100%;
    height: 3em;
    margin-top: 6px !important;
    background-color:  #4cb99e !important;
    color: white !important;
    font-family: 'Athiti' !important;
    font-size: 1.4em !important;
    font-weight: 500 !important;
    box-shadow: 0 2px 6px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(126, 126, 126, 0.1) !important;
    border-radius: 5px !important;
}

.detail-footer-button:hover {
    background-color:  #2aad8a !important;
}

.detail-footer-header {
    margin-top: 25px !important;
    margin-left: 12px !important;
    color: #494949 !important;
    font-size: 1.55em !important;
    font-weight: 700 !important;
}

.detail-footer-text {
    margin-top: 3px;
    color: gray;
    font-size: 1em;
    font-family: 'Athiti' !important; 
    font-weight: 500 !important;
}

.detail-rating {
    font-size: large;
    display: flex;
}

.detail-rating-label {
    float: left;
    width: 5em;
}

.detail-rating-stars {
    display: inline-block;
    margin-left: 55px;
}

.ui.rating .active.icon {
    color: #52c5d5 !important;
}


.showmore-text::before {
    content: '\a\a';
    white-space: pre;
}

.detail-card-header {
    margin-top: 5px !important;
    color: #494949 !important;
    font-size: 1.55em !important;
    font-weight: 700 !important;
}

.detail-quantity-button {
    background-color: rgb(233, 233, 233) !important;
    box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.1) !important;
}

.detail-quantity-button:hover {
    background-color: #d1d1d1 !important;
}

.user-text {
    white-space: pre-wrap;
}

.order-confirm-user-header {
    font-family: 'Athiti' !important;
    color: #494949 !important;
    font-size: 1.85em !important;
    font-weight: 600 !important;
}

.order-confirm-user-msg {
    font-family: 'Athiti' !important;
    font-size: 1.25em !important;
    font-weight: 500 !important;
}

.order-confirm-user-cancel-button {
    background-color:  #a7a7a7 !important;
    color: white !important;
    font-family: 'Athiti' !important;
    font-size: 1.25em !important;
    font-weight: 500 !important;
    box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.1) !important;
}

.order-confirm-user-cancel-button:hover {
    background-color:  #7c7c7c !important;
}

.order-confirm-user-continue-button {
    font-family: 'Athiti' !important;
    background-color:  #4cb99e !important;
    color: white !important;
    font-size: 1.25em !important;
    font-weight: 500 !important;
    box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.2), 0 3px 10px 0 rgba(128, 128, 128, 0.1) !important;
}

.order-confirm-user-continue-button:hover {
    background-color:  #2aad8a !important;
}

@media all and (max-width: 767px) {    
    .detail-footer {
        display: inherit;
    }
    .flex-item-main {
        margin-bottom: 100px;
        width: 100%;
        margin-left: auto;
        margin-right: 10px;
    }
    .flex-item-right {
        display: none;
    }
    .detail-head-main {
        display: flex;
    }

}
/* end main layout */

