.FoodCard {
    height: 100%;
    position: relative;
    margin-left: 0px;
    padding-left: 1px;
    margin-top: 5px;
    /* padding-bottom: 5px; */
}

.FoodCard a {
    color: inherit;
}

.FoodCard a:hover {
    color: inherit;
}

.FoodCardHeader {
    margin-top: 3px !important;
}

.FoodCardGroup {
    margin-top: 10px !important;
    margin-right: 5px !important;
    margin-left: 3px !important;
}

.OrderButton {
    position: absolute;
    bottom: 0px;
    height: 2.5em;
    color: #4cb9a0 !important;
}

.FoodImage {
    width: 100%;
}

.LabelPrep-ingredient {
    background-color: #ff53afb9 !important;
    font-family: Athiti !important;
    font-weight: 600 !important;
    /* ff53afb9 */
}

.LabelPrep-uncooked {
    background-color: #ffa86ec5 !important;
    font-family: Athiti !important;
    font-weight: 600 !important;
    /* ffa86ec5 */
}

.LabelPrep-cooked {
    background-color: #6aebb9ce !important;
    font-family: Athiti !important;
    font-weight: 600 !important;
    /* 6aebb9ce */
}

.LabelPrep-frozen {
    background-color: #59e8f5b9 !important;
    font-family: Athiti !important;
    font-weight: 600 !important;
    /* 59e8f5b9 */
}

.FoodHeader{
    display: -webkit-box;
    
    float: left;
    margin-top: 1px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4;
    font-family: Athiti;
    color: #3a3a3a;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (min-width: 768px) {
    .FoodCard {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .FoodImageBox {
        overflow: hidden;
    }

    .FoodImage {
        height: 100%;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

    .FoodImage:hover {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
