body {
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ui.page.modals.dimmer.transition.visible.active:not(.inverted) {
    background-color: rgba(255, 255, 255, 0.85);
}

.ui.icon.message>.icon:not(.close) {
    font-size: 1.7em;
}

.ui.message {
    padding-left: 1em;
    padding-right: 1em;
}

@media all and (max-width: 767px) {
    .ui.page.modals.dimmer.transition.visible.active:not(.inverted) {
        background-color: white;
    }
}

@media all and (min-width: 992px) {
    .Toastify__toast-container--top-center {
        width: 600px;
        margin-left: -300px;
    }
    .Toastify__toast {
        border-radius: 0.3rem !important;
    }
}

.toast-body {
    padding: 1em;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.2;
}

.Toastify__toast--success {
    box-shadow: 0 0 0 1px #2b65ec inset, 0 0 0 0 transparent;
    /* background-color: #e0e8fd; */
    background: linear-gradient(235deg, rgba(2, 0, 36, 1) 0%, rgba(209, 221, 255, 1) 0%, rgba(224, 232, 253, 1) 65%);
    color: #2b65ec;
    font-weight: 500;
}

.Toastify__close-button--success {
    color: #2b65ec;
}

.Toastify__toast--error {
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
    background-color: #fff6f6;
    color: #912d2b;
}

.Toastify__close-button--error {
    color: #912d2b;
}