.align-left {
    text-align:left;
    line-height: 1.2;
    margin-right: 10px;
    width: 100%;
}

.align-right{
    float: right;
}

.order-summary-row {
    display: flex;
    margin-top: 3px;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.order-address > div {
    width: 100%;
    border: none;
}

.order-address {
    width: 100%;
    -webkit-box-flex: inherit;
    flex: inherit;
    transition: none;
}

.order-confirm-button {
    background-color:  #4cb99e !important;
    font-family: 'Athiti' !important;
    font-size: 1.4em !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    height: 4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.order-body {
    width: 75%;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;

}

.order-quantity-button {
    background-color: rgb(233, 233, 233) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(145, 145, 145, 0.1) !important;
}

@media all and (max-width: 767px) {
    .order-body {
        width: 90%;
  }
}

/* .DateInput__display-text--focused {
  background: #eeeeee !important;
  border-color: lightgray !important;
  color: black !important;
}

.CalendarDay--selected {
  background: darkgray !important;
  border: 1px double darkgray !important;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  border-right: 33px solid darkgray !important;
} */