.order-summary-row {
    display: flex;
    margin-top: 3px;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-address>div {
    width: 100%;
    border: none;
}

.order-address {
    width: 100%;
    -webkit-box-flex: inherit;
    flex: inherit;
    transition: none;
}

.order-confirm-continue-button {
    background-color: #4cb99e !important;
    font-family: 'Athiti' !important;
    font-size: 1.4em !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    height: 3em;
    width: 205px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.order-confirm-continue-button:hover {
    background-color: #2aad8a !important;
}

.order-body {
    position: relative;
    width: 80%;
    margin: 65px auto 0 auto;
    padding-bottom: 20px;
}

.order-navigation-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.order-navigation-middle-content {
    color: #4cb9a0;
    padding-right: 5px;
    padding-left: 7px;
    padding-top: 9px;
    margin-top: 9px;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 1.9em;
    text-shadow: 0 1px 2px rgba(104, 104, 104, 0.479);
}

.order-step-header {
    padding-bottom: 10px;
    margin-top: 5px;
}

.order-detail-summary-left-header {
    color: #494949 !important;
    font-size: 1.8em !important;
    font-weight: 600 !important;
    font-family: 'Athiti' !important;
    margin-left: 5px !important;
}

.order-detail-summary-next-button-header {
    color: #494949 !important;
    font-size: 1.6em !important;
    font-weight: 600 !important;
    font-family: 'Athiti' !important;
    margin: 10px !important;
    vertical-align: 'center' !important;
}

.order-step-boxes {
    color: #4cb99e !important;
}

.order-detail-summary-container {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.order-detail-summary-left {
    /* background: pink; */
    /* position: -webkit-sticky;
    position: sticky; */
    width: 350px;
    min-width: 350px;
    /* display: inline-block; */
    /* vertical-align: top; */
    margin-left: 50px;
    /* padding: 0px 10px 0px 0px; */
    /* box-shadow: 0 2px 6px 0 rgba(117, 117, 117, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19) !important; */
}

.order-detail-summary-right {
    width: -moz-available;
    width: -webkit-fill;
    /* background-color: blue; */
    /* background: pink; */
    /* position: -webkit-sticky;
    position: sticky; */
    /* display: inline-block; */
    /* top: 88px; */
    /* max-width: 450px; */
    /* width: 100%; */
    /* padding: 10px 0px 0px 10px; */
    /* margin: 0 auto; */
    /* box-shadow: 0 2px 6px 0 rgba(117, 117, 117, 0.2), 0 6px 20px 0 rgba(114, 114, 114, 0.19) !important; */
}

.order-detail-summary-right .input {
    width: 100%;
}

.order-card-header {
    display: inline-block !important;
    margin-top: 5px !important;
    color: #494949 !important;
    font-size: 1.2em !important;
    font-weight: 600 !important;
    padding: 10px 10px 0px 10px;
}

.order-card-header-overflow {
    display: -webkit-box;
    position: relative;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
    float: left;
    width: 170px;
    margin: 5px auto 3px auto;
}

.order-quantity-button {
    background-color: rgb(233, 233, 233) !important;
    box-shadow: 0 2px 4px 0 rgba(68, 68, 68, 0.2), 0 3px 10px 0 #8080801a !important;
}

.order-quantity-button:hover {
    background-color: #d1d1d1 !important;
}

.detail-card-summary-row {
    display: flex;
    margin-top: 3px;
    width: 100%;
    font-size: 1.3em !important;
    font-weight: 400;
    line-height: 22px !important;
    font-family: 'Athiti' !important;
}

.detail-card-summary-row-total {
    display: flex;
    margin-top: 3px;
    width: 100%;
    font-size: 1.5em !important;
    font-weight: 400;
    line-height: 22px !important;
    font-family: 'Athiti' !important;
    /* background-color: #d6fdf5; */
}

.order-summary-align-left {
    text-align: left;
    line-height: 1.2;
    margin-right: 10px;
    width: 100%;
}

.order-summary-align-right {
    float: right;
}
.order-billing-header {
    color: #494949 !important;
    font-size: 1.8em !important;
    font-weight: 600 !important;
    font-family: 'Athiti' !important;
    margin-left: 5px !important;
    line-height: 1.1 !important;
}

.order-powered-by-stripe {
    font-family: 'Athiti' !important;
    font-size: .7em !important;
}

/* .order-powered-by-stripe-image {
    display: inline-flex;
} */

@media all and (max-width: 767px) {
    .order-body {
        width: 90%;
    }
    .order-detail-summary-container {
        display: flex !important;
        flex-flow: row wrap !important;
        flex-direction: row !important;
    }
    .order-detail-summary-left {
        width: 100%;
        min-width: 100%;
        padding: 0px 0px 0px 0px;
        margin-left: 0px !important;
    }
    .order-detail-summary-right {
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    .order-confirm-continue-button {
        width: 100%;
    }
}

/* .DateInput__display-text--focused {
  background: #eeeeee !important;
  border-color: lightgray !important;
  color: black !important;
}

.CalendarDay--selected {
  background: darkgray !important;
  border: 1px double darkgray !important;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  border-right: 33px solid darkgray !important;
} */