.align-left {
    text-align:left;
    padding:0;
    margin:0;
    position:absolute;
}

.align-right{
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.order-address > div {
  width: 100%;
  border: none;
}

.order-address {
  width: 100%;
  -webkit-box-flex: inherit;
  flex: inherit;
  transition: none;
}

.order-confirm-button {
  background-color:  #4cb99e !important;
}

.order-confirm-button > .ui.button {
  background-color:  #4cb99e !important;
  color: #ffffff !important;
}

/* .DateInput__display-text--focused {
  background: #eeeeee !important;
  border-color: lightgray !important;
  color: black !important;
}

.CalendarDay--selected {
  background: darkgray !important;
  border: 1px double darkgray !important;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  border-right: 33px solid darkgray !important;
} */