.profileview-header {
    color: #494949 !important;
    font-size: 2.9em !important;
    font-family: 'Athiti' !important;
    font-weight: 500 !important;
    line-height: 40px !important;
    margin-top: 2px !important;
}

.profileview-sub-header {
    color: #60b0f4;
    font-family: 'Athiti' !important;
    line-height: 20px !important;
    font-weight: 500 !important;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.profileview-user-info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.35em !important;
    font-weight: 400;
    line-height: 26px !important;
    font-family: 'Athiti' !important;
}

.profileview-body {
    width: 100%;
    margin: 70px auto 0 auto;
    padding: 30px;
    background-color: lightgray;
}

.profileview-card {
    width: 262px;
    vertical-align: middle;
    background-color: lightgreen;
}

.profileview-card-header {
    margin-left: 7px;
    font-size: 1.65em !important;
    font-weight: 500 !important;
    font-family: 'Athiti' !important;
}

.profileview-card-items {
    padding: 10px;
}

.profileview-flex-container {
    background-color: lightseagreen;
    display: -webkit-flex;
    display: flex;
    min-height: 0px;
    width: 100%;
    height: auto;
    padding-left: 9%;
    /* margin-top: 1px; */
    margin-bottom: 10px;
}

.profileview-flex-item-left {
    background-color: blue;
    width: 400px;
    /* height: auto; */
    margin-left: 5%;
    margin-right: 1%;
}

.profileview-head-left {
    background: yellow;
    position: -webkit-sticky;
    position: sticky;
    top: 88px;
    z-index: 1;
}

@media all and (max-width: 1127px) {
    .profileview-flex-item-left {
        display: none;
    }
}