.profile-email-input > input {
    background-color: #f0ecec !important;
}

.profile-header {
    font-size: 2.8em !important; 
    color: #525151 !important;
    font-family: 'Athiti' !important;
    font-weight: 300 !important;
    line-height: 40px !important;
    margin-top: 25px !important;
}

.profile-sub-header {
    color: #60b0f4;
    font-family: 'Athiti' !important;
    font-weight: 600;
    font-size: 1.1em;
}

.profile-body {
    width: 75%;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
  
  }

  .profile-verify {
      width: 200px;
      vertical-align: middle;
  }

  .profile-verify-items {
      padding: 10px;
  }