.profileedit-main {
    margin-top: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.profileedit-header {
    background-color: #b3dbce60 !important;
    color: #494949 !important;
}

.profileedit-menu {
    font-size: 1.2em !important;
}

#profileedit-grid-label {
    text-align: right;
    padding-top: 8px;
    font-weight: 500;
}

.profileedit-grid-body {
    margin: 10px 10px 10px 25px !important;
    font-size: 1.15em !important;
    color: #494949 !important;
}

.profileedit-view-button {
    margin: 20px 0px 0px 0px !important;
    background-color: #4cb99e !important;
    font-family: 'Athiti' !important;
    font-size: 1em !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.profileedit-view-button:hover {
    background-color: #2aad8a !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24), 0 8px 22px 0 rgba(0, 0, 0, 0.144) !important;    
}

.profileedit-save-button {
    margin: 20px 0px 0px 0px !important;
    background-color: #4cb99e !important;
    font-family: 'Athiti' !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.profileedit-save-button:hover {
    background-color: #2aad8a !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.24), 0 8px 22px 0 rgba(0, 0, 0, 0.144) !important;
    
}

.profileedit-input-descriptions {
    color: rgb(131, 131, 131) !important;
    margin: 5px 0px 0px 0px;
    font-size: .95em;
}

.profileedit-secured-input {
    color: #4cb99e !important; 
}



@media all and (max-width: 767px) {
    #profileedit-grid-label {
        text-align: left;
        padding-bottom: 0 !important;
    }
}

.profileedit-main .header {
    font-size: 1.65em !important;
    font-weight: 500 !important;
    font-family: 'Athiti' !important;
}

.profileedit-main .input {
    width: 100%;
}

.profileedit-address, textarea {
    width: 100%;
    line-height: 1.21428571em;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 9.5px 14px;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    outline: 0;
}