.datetimeselector-datetime {
    display: flex;
    justify-content: space-between;
    padding: 0px 0 15px 0;
    font-weight: 500;
    width: 100%;
}
/* Time Picker */

.datetimeselector-time {
    width: 53%;
    font-weight: 400;
    margin-left: 2%;
    font-size: 1.1em;
}

.datetimeselector-time .ui.dropdown {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
    min-width: 100%;
    width: 100%;
    border-color: #d3d3d3;
    padding: .95571429em 2.1em .78571429em .78571429em;
}


/* .ui.default.dropdown:not(.button)>.text, */
.datetimeselector-time .ui.dropdown > .default.text {
    color: inherit;
}

/* End Time Picker */

/* Date Picker */

.datetimeselector-date {
    width: 43%;
    margin-right: 2%;
    font-weight: 400;
    font-size: 1.1em;
}

.datetimeselector-date .DateInput {
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    padding: 8px 5px 7px 5px;
    font-weight: 400;
}

.datetimeselector-date .SingleDatePicker {
    width: 100%;
    margin-top: 5px;
}

.datetimeselector-date .SingleDatePickerInput {
    border-radius: 5px;
    border-color: #d3d3d3;
    
}

/* .datetimeselector-date .transition-container {
    height: 292px !important;
} */

.datetimeselector-date .SingleDatePickerInput input {
    cursor: pointer;
}

.datetimeselector-date .SingleDatePicker__picker {
    margin-top: -15px;
    z-index: 2;
}

.datetimeselector-date .DateInput__display-text--focused {
    background: #d3d3d3;
    border-color: #d3d3d3;
}

.datetimeselector-date .CalendarDay--selected {
    background-color: #b61095;
    border-color: #b61095;
}

.datetimeselector-date .DateInput--with-caret::before {
    margin-top: -13px;
    z-index: 3;
}

.datetimeselector-date .DateInput--with-caret::after {
    margin-top: -13px;
    z-index: 3;
}

.datetimeselector-date .DateInput__display-text {
    color: rgba(0, 0, 0, .87);
    /* font-weight: 500; */
}

.datetimeselector-date #CalendarMonth__caption {
    margin-bottom: 15px;
}

.datetimeselector-date .DayPickerKeyboardShortcuts__show {
    display: none;
}

.datetime-topspacing {
    margin-top: 5px;
}

.datetime-bottomspacing {
    margin-bottom: 2px;
}

@media all and (max-width: 767px) {
    .datetimeselector-date {
        font-size: 1em;
        font-weight: 500;
    }

    .datetimeselector-time{
        font-size: 1em;
        font-weight: 500; 
    }

    .datetime-topspacing {
        margin-top: 13px;
    }
}