.datetimeselector-datetime {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    font-weight: 500;
    width: 100%;
}
/* Time Picker */

.datetimeselector-time {
    width: 48%;
    font-weight: 400;
    margin-left: 2%;
    font-size: 1.4em;
}

.datetimeselector-time .ui.dropdown {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    min-width: 100%;
    width: 100%;
    border-color: #d3d3d3;
    padding-left: .78571429em;
}


/* .ui.default.dropdown:not(.button)>.text, */
.datetimeselector-time .ui.dropdown > .default.text {
    color: inherit;
}

/* End Time Picker */

/* Date Picker */

.datetimeselector-date {
    width: 46%;
    margin-right: 2%;
    font-weight: 400;
    font-size: 1.4em;
}

.datetimeselector-date .DateInput {
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    padding: 5px 5px 4px 5px;
    font-weight: 400;
}

.datetimeselector-date .SingleDatePicker {
    width: 100%;
    margin-top: 5px;
}

.datetimeselector-date .SingleDatePickerInput {
    border-radius: 5px;
    border-color: #d3d3d3;
    
}

.datetimeselector-date .SingleDatePickerInput input {
    cursor: pointer;
}

.datetimeselector-date .SingleDatePicker__picker {
    margin-top: -15px;
    z-index: 2;
}

.datetimeselector-date .DateInput--with-caret::before {
    margin-top: -15px;
    z-index: 3;
}

.datetimeselector-date .DateInput--with-caret::after {
    margin-top: -15px;
    z-index: 3;
}

.datetimeselector-date .DateInput__display-text {
    color: rgba(0, 0, 0, .87);
    /* font-weight: 500; */
}

.datetimeselector-date #CalendarMonth__caption {
    margin-bottom: 15px;
}

.datetimeselector-date .DayPickerKeyboardShortcuts__show {
    display: none;
}

.datetime-topspacing {
    margin-top: 7px;
}

.datetime-bottomspacing {
    margin-bottom: 7px;
}

@media all and (max-width: 767px) {
    .datetimeselector-date {
        font-size: 1.2em;
        font-weight: 500;
    }

    .datetimeselector-time{
        font-size: 1.2em;
        font-weight: 500; 
    }
}