.orderpricesummary {
    margin-top: 10px;
    font-size: 1.25em;
}

.orderpricesummary .ui.divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.orderpricesummary-row {
    display: table;
    width: 100%;
}

.orderpricesummary-left {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 70%;
}

.orderpricesummary-right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 30%;
}

.orderpricesummary-total {
    font-weight: 600;
    margin-bottom: 1px;
}

@media all and (max-width: 767px) {
    .orderpricesummary {
        margin-top: 35px;
        font-size: 1.05em;
    }
    .orderpricesummary-total {
        font-weight: 500;
        margin-bottom: 12px;
    }
}