.orderrequestheader-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0 13px 0;
    font-weight: 500;
    width: 100%;
}

.orderrequestheader-border {
    border-bottom: 1px solid #DBDBDB;
}

.orderrequestheader-left {
    width: 100%;
    margin-left: 2%;
}

.orderrequestheader-serving {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;
    color: #b61095;
    text-transform: uppercase;
}

.orderrequestheader-close {
    cursor: pointer;
    font-size: 45px;
    font-weight: 300;
    width: 40px;
    height: 40px;
}

.orderrequestheader-rating {
    display: inline-flex;
}

.orderrequestheader-rating .rating {
    margin-top: 4px;
}

.orderrequestheader-price {
    margin-bottom: 3px;
}

.orderrequestheader-price span:first-child {
    font-size: 23px;
    font-weight: 600;
}

.orderrequestheader-price span:last-child {
    font-size: 14px;
}

.orderrequestheader-rating div:last-child {
    margin-top: 0px;
    margin-left: 2px;
    font-size: 14px;
    color: #494949;
}

@media all and (max-width: 767px) {
    .orderrequestheader-row {
        font-weight: 400;
    }

    .orderrequestheader-price span:first-child {
        font-size: 23px;
        font-weight: 500;
    }

    .orderrequestheader-serving {
        font-weight: 600;
        font-size: 15px;
    }
}