.quantityselector-quantity {
    margin-top: 10px;
}

.quantityselector-quantity>div:first-child {
    text-align: left;
    margin-bottom: 8px;
    font-size: 1.15em;
}

.quantityselector-quantity>div:first-child>div:first-child {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 8px;
}

.quantityselector-quantity>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.quantityselector-quantity>div:nth-child(2)>.ui.icon.button {
    border: 1px solid;
}

.quantityselector-quantity>div:nth-child(2)>.ui.icon.button:active {
    box-shadow: 0px 0px 8px 4px #b60f95bf !important;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(182, 15, 149, 0.75) !important;
}

.quantityselector-quantity>div:nth-child(2)>div {
    margin: auto 0;
    padding-right: 6px;
    font-size: 1.6em;
    font-weight: 500;
}

.quantityselector-bottomspacing {
    margin-bottom: 18px;
}

@media all and (max-width: 767px) {
    .quantityselector-quantity>div:first-child {
        font-size: 1em;
    }

    .quantityselector-quantity>div:first-child>div:first-child {
        font-size: 1.25em;
    }

    .quantityselector-quantity>div:nth-child(2) {
        width: 59%;
        font-size: .9em;
    }
}