.about-header {
    color: #4e4e4e;
    font-size: 1.9em;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about-content {
    font-size: 1.3em;
    line-height: 1.7;
    color: #444444;
    font-weight: 400;
    width: 85%;
}

@media all and (max-width: 767px) {
.about-header {
    margin-top: 45px;
}
.about-content {
    width: 100%;
}
}