.whycook-header {
    position: relative;
    margin-top: 55px;
}

.whycook-header img {
    height: 377px;
    width: 100%;
    overflow: hidden;
    background-position: center right;
    background-repeat: no-repeat;
    object-fit: cover;
}

.whycook-title {
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 85px;
    color: #3b3b3b;
    font-size: 2.6em;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
    background-color: azure;
    padding: 10px 15px;
    /* border: 3px solid #3b3b3b; */
}

.whycook-title>div:first-child {
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 2px;
    text-transform: uppercase;
    font-size: .55em;
    font-weight: 400;
    color: azure;
    background-color: #3b3b3b;
    letter-spacing: .25px;
    padding: 2px 13px;
}

.whycook-top-content {
    font-size: 1.2em;
    line-height: 1.4;
    color: #3b3b3b;
    font-weight: 300;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 20px;
}

.whycook-cards {
    margin: 10px 0px 25px 0px;
    font-weight: 600;
    font-size: 1.2em;
    color: #444444;
}

.whycook-content-title {
    color: #3b3b3b;
    font-size: 2.3em;
    line-height: 1.4;
    font-weight: 700;
    margin: 60px 0px 40px 0px;
    /* padding: 3px 20px; */
    text-align: center;
}

.whycook-bottom-title {
    color: #3b3b3b;
    font-size: 2.3em;
    line-height: 1.4;
    font-weight: 700;
    margin: 60px 0px 40px 0px;
}

.whycook-content {
    width: 100%;
    font-size: 1.4em;
    line-height: 1.6;
    color: #3b3b3b;
    font-weight: 300;
    background-color: rgba(183, 219, 221, 0.568);
    padding: 10px 0px;
}
.whycook-content .ui.grid {
    margin-bottom: 3em;
}

.whycook-content>div:first-child {
    width: 70%;
    margin: auto;
}

@media all and (max-width: 767px) {
    .whycook-title {
        margin-top: 85px;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 1.9em;
        top: 180px;
        left: 20px;
        width: 80%;
    }
    .whycook-content {
        width: 100%;
    }
    .whycook-top {
        font-size: 1.1em;
    }
    .whycook-content-title {
        font-size: 2em;
    }
    .whycook-title>div:first-child {
        z-index: 1;
        top: -40px;
        left: 2px;
        letter-spacing: .4px;
    }
    .whycook-cards {
        margin: 8px 0px 25px 0px;
        font-weight: 500;
        font-size: 1.2em;
        color: #444444;
    }
    .whycook-content-title {
        font-size: 1.8em;
        font-weight: 500;
    }
    .whycook-content>div:first-child {
        width: 90%;
    }
}