.slider-decorator-0 {
    height: 100%;
}

.slider-decorator-1 {
    height: 100%;
}

.foodgrid-card:hover .foodgrid-image-hidedecorator {
    display: inherit;
}

.foodgrid-card .foodgrid-image-hidedecorator {
    display: none;
}